# App variables
APP_ENV= # dev, qa, pre, prod
APP_PORT=
APP_DOMAIN=
APP_STATIC_PATH=

# JWT variables
JWT_SECRET=
JWT_EXPIRES_IN= # Should be in seconds. For example, 2592000 = 30 days 

# OTP variables
OTP_SECRET=
OTP_EXPIRES_IN= # Should be in milliseconds. For example, 120000 = 2 minutes

# Mailer variables
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER=
SMTP_TEST_RECIPIENT=

# Database variables
DB_HOST=amazn_db
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

# Migrations and seeding variables
SEED_ENVIRONMENT= #dev, qa, pre, prod