# App variables
APP_PORT=

# JWT variables
JWT_SECRET=
JWT_EXPIRES_IN= # Should be in seconds. For example, 2592000 = 30 days 

# OTP variables
OTP_SECRET=
OTP_EXPIRES_IN= # Should be in milliseconds. For example, 120000 = 2 minutes

# Mailer variables
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

# Database variables
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=